.expense-container{
    background-color: #7B2869;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;

}

h2{
    color:white ;
}
.no-data{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    color: white;
}