header{
  background-color: #4F959D;
  color: white;
  text-align: center;
  padding: 20px;
}
 h1{
  margin: 0;
 }

 nav{
  display: flex;
  background-color: #98D2C0;
  padding: 15px;
  gap: 5px;
 }
 nav a {
  color: white;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
 }
 nav a:hover{
  background-color: #205781;
  border-radius: 5px;
  text-decoration: underline;
 }
 main{
  background-color: #F6F8D5;
  min-height: 500px;
  padding: 10px;
 }
 footer{
  background-color: #4F959D;
  color: white;
  text-align: center;
  padding: 20px;
 }