
nav{
    background-color: #E9B384;
    display: flex;
    padding: 20px;
  }
  
  nav a{
    padding: 10px;
    color:#0a4136 ;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }
  nav a:hover, .active{
    background-color: #A1CCD1;
    text-decoration: underline;
    border-radius: 10px;
    font-size: 16px;
  }
  