

nav{
    display: flex;
    background-color: #D2DE32;
    padding: 15px;
  }
  nav a {
    padding: 10px;
    color:#016A70 ;
    text-decoration: none;
    font-weight: bold;
  }
  nav a:hover{
    background-color: #016A70;
    color:white;
    border-radius: 5px;
  }
  
  
  