nav{
    display: flex;
    background-color: #655DBB;
    height: 44px;
  }
  nav .menu-item{
  padding:  12px 0 0 0 ;
  }
  
  nav .menu-item a{
   text-decoration: none;
   padding: 5px;
   color: white;
   border-radius: 5px;
  }
  nav .menu-item a:hover{
    text-decoration: underline;
    background-color: #BFACE2;
   }
  